html,
body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 350px;

  background-image: linear-gradient(to bottom right, green, yellow);
  border-radius: 20px;
}

.box {
  width: 150px;
  height: 100px;

  margin: 10px;
  padding: 10px;
  border-radius: 10px; /*заокруглення рамок*/
  border: 2px solid black; /*рамка*/
}

.green {
  background-color: green;
  height: 130px;
}

.greenyellow {
  background-image: url("https://i.pinimg.com/736x/b8/85/c8/b885c81aff2c7879341aaeec40e39935.jpg");
  height: 300px;
  background-size: contain;
}

.yellow {
  background-color: yellow;
  height: 50px;
}
