html,
body {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom right, rgb(102, 13, 109), rgb(92, 12, 98), rgb(61, 17, 85), rgb(55, 5, 93));
    background-repeat: no-repeat;
}


figure {
    position: relative;
    top: 90px; 
    
    display: table;
    margin: 0 auto;
    padding: 0;
    text-align: center; /* Вирівнює зображення по центру */
}

img {
    width: 800px;
    height: 500px;

    object-fit: cover;
    border-radius: 10px;
    
    box-shadow:  -5px -5px 40px rgba(248, 248, 248, 0.585);
}

figcaption {
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    display: table-caption; 
    caption-side: bottom ;
    color: wheat;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.74);
    background-image: linear-gradient(to bottom right, rgb(64, 20, 66), rgb(46, 9, 74)); ;

}