@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');


html {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: darkorange;
    font-size: 2.3rem;
}

.span_1 {
    text-decoration: underline;
}

.span_2 {
    text-transform: uppercase;
    text-decoration: line-through;
}

.one {
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.2rem;
    text-indent: 20px; /* відступ першої строки від лівого краю */
}

.second {
    text-align: left;
    word-spacing: 3px;
    line-height: 30px;
}