body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-image: linear-gradient(
    to bottom right,
    rgba(255, 0, 0, 0.567),
    rgba(0, 0, 255, 0.781)
  );
}

.box {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  background-image: linear-gradient(to top right, #0b9c03e2, #ff229cae);

  display: flex;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: flex-start;
}

.child {
  width: 150px;
  height: 100px;

  background-color: #ff229d;
  border-radius: 10px;
}

.no-statick {
  position: relative;
}

.relative {
  /* position: relative; дозволяє зміщувати елемент відносно його звичайного місця(відносно початкового положення). */
  /* top: -50px;
  left: -50px; */
  flex: 0.8;
  margin: 20px;
}

.absolute {
  position: absolute; /*дозволяє абсолютно позиціювати елемент відносно його найближчого предка з нестатичним позиціюванням*/
  top: 0;
  right: -5px;
}

.sticky {
  position: sticky; /*поводитися як зафіксований, поки він попадає в зону видимості*/
  top: 10px;
}
