body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #fff9c2;
  margin-bottom: 20px;
  padding: 20px;
}

.container_size {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c2fffe;
}

.container_size_img {
  width: 500px;
}

.svg_m {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jpg_m {
  width: 500px;
  height: auto;
  overflow: hidden;
  margin-bottom: 10px;
}

.jpg,
.png,
.svg,
.webp {
  width: 400px;
  height: auto;
}

@media (max-width: 768px) {
  .jpg_m {
    width: 200px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .jpg_m {
    width: 150px;
    height: auto;
  }
}

.container_background {
  width: auto;
  height: 300px;
  overflow: hidden;
  background-image: url("./img/mohammad-rahmani-oXlXu2qukGE-unsplash.jpg");
  background-position: center center;
  background-size: cover;
}
