.container {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 500px;
    height: 200px;
    font-size: 2rem;
    border: 3px solid black;
}

.box_1 {
    background-color: blue;
    opacity: 36%;
}

.box_2 {
    background-color: rgba(0, 255, 47, 0.449);
    color: rgb(43, 88, 253);
    box-shadow: 10px 5px 5px red;
}


.box_3 {
    background-color: hwb(110 50% 50%);
    color: hsl(101, 98%, 58%);
}