html,
body {
  height: 100vh;
  margin: 0;
}

body {
  background-image: linear-gradient(
    to bottom,
    rgb(23, 127, 187) 49%,
    rgb(212, 203, 28) 51%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block {
  margin: 0 20px;
  max-width: 400px;
  transition: all 0.3s ease;
}

.block:hover {
  transform: scale(1.05);
}

img {
  border-radius: 20px;
}

section:nth-child(3) {
  backdrop-filter: blur(0) sepia(0%) brightness(1);
  transition: backdrop-filter 0.3s ease;
}

.centre:hover {
  backdrop-filter: blur(5px) sepia(30%) brightness(1.25);
}

.centre img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.filter {
  filter: opacity(1) blur(0) grayscale(0%);
  transition: filter 0.3s ease;
}

.filter:hover {
  filter: opacity(0.9) blur(2px) grayscale(50%);
}
