html {
    height: 100vh;
}

body {
    background-image: linear-gradient(to bottom right, rgb(57, 98, 209), rgb(138, 23, 187));
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(20, 230, 241);
}

button {
    height: 50px;
    width: 100px;
    border-radius: 10px;

    background-color: darkorchid;
    color: aquamarine;
}

li {
    list-style: none;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 500px;
}

.social-icon {
    width: 50px;
    height: 59px;

    background-image: url(./img/social-icons.png);
}

.youtube-icon {
    background-position: 209px 233px;
}

.pinterest-icon {
    background-position: 103px 348px;
}

.google-icon {
    background-position: 155px 290px;
}