body {
    background-image: url(./img/background.jpg);
    background-size: auto;
}

h1 {
    color:rgb(42, 14, 200);
}

button {
    height: 50px;
    width: 100px;
    border-radius: 10px;

    background-color: darkorchid;
    color: aquamarine;
}