@font-face {
    font-family: Jost;
    src: url(./Jost-VariableFont_wght.ttf);
}

body{
    font-size: 1.2rem;
}

h1 {
    color: rgb(106, 0, 255);
    background-color: rgb(113, 14, 149);
}

h2 {
    font-family: sans-serif;  /* альтернативний шрифт */
}

p {
    font-family: "Pacifico";
}

h1 + h2, h2 + p {
    font-weight: bold; /* Жирний альтернативний текст */
    color: blueviolet;
}