@font-face {
    font-family: Jost;
    src: url(./Jost-VariableFont_wght.ttf);
}

body{
    font-size: 1.2rem;
}

h2 {
    font-family: Jost, sans-serif;  /* елемент з цим шрифтом */
}

p {
    font-family: "Pacifico";
}