@font-face {
  font-family: "RedHead";
  src: url(./assets/fonts/RedHatText-VariableFont_wght.woff2) format("woff2");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RedHead";
  src: url(./assets/fonts/RedHatText-Italic-VariableFont_wght.woff2)
    format("woff2");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family:
    "RedHead",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  background-color: hsl(13, 31%, 94%);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

button {
  cursor: pointer;
}
