$background: linear-gradient(to right, #ff00cc, #333399);
$primary-color: #6420aa;
$heights: (
  green: 30px,
  greenyellow: 120px,
  yellow: 50px,
);
$colors: (green, greenyellow, yellow);

@mixin flex-container(
  $display: flex,
  $just-content: center,
  $align-items: center
) {
  display: $display;
  justify-content: $just-content;
  align-items: $align-items;
}

body {
  @include flex-container();

  height: 100%;
  background-image: $background;

  .container {
    @include flex-container();

    width: 1500px;
    height: 350px;
    background-color: $primary-color;
    border-radius: 20px;

    .box {
      @include flex-container();

      width: 150px;
      height: 100px;

      margin: 0 15px;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid black;

      min-width: 100px;
      max-width: 500px;
    }

    @for $i from 1 through length($heights) {
      // від першого до кінця довжини списку
      $name: nth(
        map-keys($heights),
        $i
      ); //витягує ключ на $i-тій позиції зі списку
      $height: nth(
        map-values($heights),
        $i
      ); // отримуємо значення на $i-тій позиції зі списку
      $color: nth($colors, $i); // дає колір длч поточної ітерації
      .#{$name} {
        background-color: $color;
        height: $height;
      }
    }
  }
}
