html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to bottom right, blue, pink);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 150px;
  height: 200px;
  background-image: linear-gradient(
    to right,
    rgb(200, 0, 255),
    rgb(0, 106, 255)
  );
  margin-right: 40px;
  border: 2px solid black;
}

.one {
  transform: rotate(-45deg);
}
.second {
  transform: scale(2);
}
