body,
html {
  height: 100vh;
  margin: 0;
}

body {
  background-image: linear-gradient(to right, #d9040462, #bf128855);
}

.container img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
